{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "fetch": true,
    "yield": true,
    "window": true
  },
  "rules": {
    "new-cap": 0
  }
}